.headershoppingcart{
    background-color: blue!important;
    height: auto;
    width: auto;

}
.tennav{
    color: white;
    padding: 0px;
    margin: 0px;
}
.remove{
    color: red;
    margin: 0;
    padding: 0;
}
.price{
    color: red;
}
nametext{
    co
}